body {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7)), 
                url("../images/backgroundtentangkami.png");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    box-sizing: border-box;
    padding-bottom: 5rem;
}

.favorit-result-container { 
    max-width: 1000px; 
    margin: 20px auto; 
    padding: 0 20px; 
}

.header-favorit {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.btn-kembali-favorit { 
    display: inline-block; 
    margin: 40px 0 20px 0; 
    color: white; 
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.btn-kembali-favorit:hover {
    color: #c74949;
}

.favorit-container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid; 
    gap: 25px;
    padding: 0 20px;
}

.kartu-favorit { 
    position: relative;
    display: flex;
    background: white; 
    padding: 20px; 
    border-radius: 12px; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    transition: transform 0.3s ease, box-shadow 0.3s;
    height: auto;
    gap: 30px   ;
}

.kartu-favorit:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.kartu-favorit img { 
    width: 250px; 
    height: 150px; 
    object-fit: cover; 
    border-radius: 4px; 
    margin-bottom: 20px; 
}

.info-favorit {
    padding-bottom: 5px; 
}

.info-favorit h3 { 
    color: #c74949; 
    margin-top: 0;
    font-size: 1.4rem; 
    margin-bottom: 20px;
}

.info-favorit h4 {
    margin: 5px 0 10px 0; 
    font-size: 1rem;
    color: #666;
}

.info-favorit p { 
    margin: 3px 0 15px 0; 
    line-height: 1.6; 
    font-size: 0.95rem;
}

.fav-icon-favorit {
    position: absolute; 
    top: 20px;
    right: 20px;
    font-size: 2.5rem; 
    cursor: pointer;
    color: #c74949; 
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
    line-height: 1; 
    z-index: 10;
    transition: transform 0.2s, color 0.2s;
}

.fav-icon-favorit:hover {
    transform: scale(1.1);
    color: #ff0000; 
}

#pesan-kosong { 
    text-align: center; 
    margin-top: 50px; 
    color: white;
    font-size: 1.5rem;
    padding: 0 20px;
}